body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ff914d, #ff4d6d);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.authentication {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    width: 320px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

/* Title */
.authentication h1 {
    margin-bottom: 1.5rem;
    color: #ff4d6d;
    font-size: 1.8rem;
}

/* Input groups */
.input-group {
    margin-bottom: 1rem;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.input-group input:focus {
    border: 1px solid #ff4d6d;
    box-shadow: 0 0 5px rgba(255, 77, 109, 0.4);
}

/* Buttons */
button {
    width: 100%;
    padding: 0.8rem;
    background: #ff4d6d;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

button:hover {
    background: #d7263d;
    transform: scale(1.03);
}
.google-btn {
    width: 100%;
    margin-top: 1rem;
    padding: 0.7rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    background: white;
    color: #d7263d;
    border: 1px solid #ccc;
    border-radius: 6px;

    cursor: pointer;
    font-size: 0.95rem;
}
.google-btn:hover{
    background: white;
}

.google-btn img {
    width: 18px;
    height: 18px;
}

/* Toggle links */
.toggle-link {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #555;
}

.toggle-link a {
    color: #ff7f50;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.toggle-link a:hover {
    color: #d7263d;
    text-decoration: underline;
}

.form {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.form.active {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
    position: relative;
}
